{%  import "bootstrap/wtf.html" as wtf %}
{% extends "bookpreedit.html" %}
{% block contentt %}
<div class="container-fluid">
        <form action="" method="post" name="add">
            {{ form.hidden_tag() }}
            <div class="row">
            <div class="col-md-2">
                {{ wtf.form_field(form.name) }}
                            </div>
            </div>
                <div>
                    <input type="submit" class="btn btn-default" name="submit" value="Добавить книгу">
                    </div>


        </form>
    </div>
{% endblock %}