<html>
  <head>
    {% if title %}
    <title>{{title}} - library</title>
    {% else %}
    <title>Welcome to library</title>
    {% endif %}
  </head>
  <body>
    <div>Library: <a href="/index">Home  </a>
        <a href="/registration">Registration  </a> <a href="/login">Log in  </a>
        <a href="/logout">Log out  </a>
    <a href="/settings">Settings  </a></div>
<hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>