{% extends "bootstrap/base.html" %}

{% block navbar %}
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Соберите навигационные ссылки, формы, и другой контент для переключения -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li><a href="/">Главная</a></li>
        <li><a href="/library">Библиотека</a></li>
        <li><a href="/search">Поиск</a></li>
          {% if user.is_authenticated%}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Редактирование <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/bookpreedit">Редактировать список книг</a></li>
              <li role="separator" class="divider"></li>
            <li><a href="/authorpreedit">Редактировать список авторов</a></li>
          </ul>
        </li>
          {% endif %}
      </ul>
            {% if user.is_authenticated%}
                <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">{{ user.login }}</a></p>
                <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout">Выйти</a></li>
        </ul>
        {% else %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/login">Войти</a></li>
          <li><a href="/registration">Регистрация</a></li>
        {% endif %}
        </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
            <div class="alert alert-info" role="alert">
        {{ message }}
            </div>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
{% endblock %}