{% extends "basee.html" %}



{% block content %}
    	<nav class="navbar navbar-default">
      <div class="container-fluid">
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li><a href="/addbook">Добавить книгу</a></li>
          <li><a href="/deletebook">Удалить книгу</a></li>
          <li><a href="/editbook">Изменить авторский состав</a></li>
    </ul>
</div>
      </div>
        </nav>

    {% block contentt %}{% endblock %}
{% endblock %}

