{%  import "bootstrap/wtf.html" as wtf %}
{% extends "bookpreedit.html" %}
{% block contentt %}
<div class="container-fluid">
        <form action="" method="post" name="delete">
            {{ form.hidden_tag() }}
            <div class="row">
            <div class="col-md-2">
                {{ wtf.form_field(form.list_of_obj) }}
                            </div>
            </div>
                <div class="btn-group">
                    <input type="submit" class="btn btn-default" name="submit" value="Удалить книгу">
                <input type="submit" class="btn btn-default" name="submit" value="Показать авторский состав выбранной книги">
                    </div>


        </form>
    </div>

    <div class="container-fluid">
    {% if book %}
    <div><h2>{{book.bookname}}</h2></div>
    {% for author in book.authors %}
        <div>  <li>{{ author.authorname }}</li></div>
    {% endfor %}
    {% endif %}
    </div>



{% endblock %}