{%  import "bootstrap/wtf.html" as wtf %}
{% extends "basee.html" %}

{% block content %}
    <div class="container-fluid">
<form action="" method="post" name="search">
{{ form.hidden_tag() }}

    {{ wtf.form_field(form.search_radio) }}
                <div class="row">
            <div class="col-md-3">
     {{ wtf.form_field(form.search_attr) }}
            </div>
                </div>

    <input class = " btn btn-default"  type="submit" value="Искать">

</form>

    {% for book in books %}

    <div><h2><ol><a href = "book/{{ book.id }}">{{ book.bookname }} </a></ol> </h2></div>
    <h3>Авторы:</h3>
    {% for author in book.authors %}
    {{ author.authorname }}
        <br>
        {% endfor %}
        <hr>
{% endfor %}

     {% for author in authors %}
    <div><h2><ol>{{author.authorname}}</ol> </h2></div>
    <h3> Книги:</h3>
    {% for book in author.books %}
        {{ book.bookname }}
        <br>
        {% endfor %}
         <hr>
{% endfor %}
    </div>
{% endblock %}